/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Asterisk wildcard selector to override default styles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
/* Header img */
header img {
    width: 275px;
    margin-top: 20px;
}

/*Body styling */
body {
    background: rgb(6, 46, 97) url(../images/Helldivers_2_Background_image.jpeg) center top/cover no-repeat fixed;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    color: #16074d;
    min-height: 100vh;
    padding: 20px;
}
/* Intro styling */
#intro {
    background: #ecd56f;
    width: 90%;
    max-width: 600px;
    margin: 20px auto 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

/* General list styling */
li {
    list-style-type: none;
}
/* Instructions styling */
#quiz-instructions {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: #ecd56f;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px; 
    text-align: center;
    font-size: 11px;
}
/* Instructions Ol styling */
#instructions ol {
    list-style: none; 
    padding-left: 0;
    margin: 0;
}

/* instructions list styling */

#instructions li {
    margin-bottom: 10px;
    padding-left: 0; 
    text-align: center;
}

/* Quiz app styling */
.app {
    background: #ecd56f;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

/* app header styling */
.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;

}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

/* button styling */
.btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0;
    color: #ffffff;
    background-color: #2c3e50; 
    border: 1px solid #27ae60;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover:not(:disabled) {
    background: #222;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn, #start-btn, #restart-btn {
    background: #2c3e50;
    color: #ffffff;
    font-weight: bold;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.next-btn {
    background: #2c3e50;
    color: #ffffff;
    font-weight: bold;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

/* Javascript button styling */
.correct {
    background: green;
}

.incorrect {
    background-color: red;
}

#scores-categories {
    display: none;
}

/* 404 page button styling */
.error-backbutton {
    background: #2c3e50;
    color: #ffffff;
    font-weight: bold;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

/* keeps footer on bottom styling */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ecd56f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer {
    padding: 20px 0;
    background-color: #ecd56f;
    display: flex;
    justify-content: center;

}
li::marker {
    unicode-bidi: normal;
    font-variant-numeric: normal;
    text-transform: none;
    text-indent: 0;
    text-align: left;
    text-align-last: auto;
}

/* media quearys for smaller screens */

@media screen and (max-width: 600px) {
    .app {
      padding: 5px; /* Reduce padding for smaller screens */
    }
  
    .btn {
      font-size: 12px; /* Decrease button font size for smaller screens */
      text-align: center;
    }
  }

/* media query for larger screens */
@media screen and (min-width: 768px) {
    header img {
        width: 512px;
        height: 130px;
    }
    /* General list styling */
    li {
        list-style-type: none;
    }
    #instructions ol {
        list-style: none; 
        padding-left: 0;
        margin: 0;
    }

    #intro {
        font-size: 18px;
    }

    #instructions {
        font-size: 15px;
    }
}